<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li class="zerostatic">
              <a class="github-button"
                       href="https://github.com/goroute/route"
                       data-icon="mark-github"
                       data-size="large"
                       data-show-count="true"
                       aria-label="Visit Goroute on GitHub">Github</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>